@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
*::-webkit-scrollbar{
    display: none;
  }
h2{
    font-family: 'Open Sans', sans-serif !important; 
    font-weight: 700 !important;
}
.background-dark{
    background-color: #000033 !important;
}
.btn-main{
    background: rgb(46,148,0);
background: linear-gradient(0deg, rgba(46,148,0,1) 8%, rgba(153,204,0,1) 69%);
border-radius:20px;
border:0px;
}
.btn-main:hover{
transition: 0.5s ;
background: #2e2e5f;

}
.text-xl{
    font-size:42px
}
.text-m{
    font-size:17px
}
.text-sm{
    font-size:13px
}
.text-xxl{
    font-size:50px;
    font-weight:100
}
.title-item{
    font-size:22px
}
.shadow{
    text-shadow: 0px 0px 8px rgba(0,0,0,1) !important; 
}
.w-40{
    width:40%
}
.newsletter-input{
    border:2px solid #99CC00 ;
    border-radius: 20px;
    background-color: transparent;
    width:80%;
}
.icon-mail{
    padding-top:2px ;
}
.mail-button{
    margin-left: -50px;
    margin-top:-15px;
    
}
.newsletter-text{
    font-weight:bold ;
}
.newsletter-text strong{
    color:#99CC00;
}
.bg-newsletter{
    height:170px;
    background-image: url('../img/home/Newsletter.png');
    background-size: cover;
}

.img-s{
    width:23px
}
.h-70{
    height:70% !important;
}
.w-60{
    width:60% !important;
}
.p-0{
    padding: 0px !important;
}
.btn-outline-light:hover{
    color: #99CC00 !important
}
.main-btn{
    width: 50%;
    margin-left: auto;
}
.dropdown:hover>.dropdown-menu {
    display: block;
   }

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
   }
.only-mobile{
    display: none!important;
}
@media(max-width:991px) {
    .only-mobile{
        display: block!important;
    }
    .dropdown-menu{
        display:none!important;
    }
    .show{
        display: block!important;
    }
    .topBar{
        display:none !important;
       }
    .dropdown-submenu a{
        position: relative;
    }
    .main-items{
        flex-direction: column;
    }

}
@media(min-width:991px){
    .nav-item{
        border-bottom: 4px solid #86c62600;
        transition: 0.2s;
    
    }
    .nav-item:hover{
        border-bottom: 4px solid #99CC00 ;
        transition: 0.2s;
    }

}
.dropdown-menu{
    border: none !important;
    padding: 0px !important;
}
.w-65{
    width:65%
}
.w-40{
    width:40%
}
.pb-0{
    padding-bottom: 0px !important;
}
.list-group-flush .list-group-item {
    border: none !important;
}
.navbar-toggler{
    right:100% !important;
}
.navbar-brand{
    width:12%;
    margin-right: 0px !important;
}   
.dropdown-toggle::after{
    color: #99CC00;
}

@media(max-width:769px){
.navbar-brand{
    width:60%
}

footer .row{
    height:10%
}
footer image{
    float:right;
}
footer .ml-5{
    margin-left: 0 !important;
}
.description{
    font-size:13px !important
}
.caja{
    width:80% !important;
}
.main-btn{
    width: 100%;
    margin-left: auto;
}
.img-responsive{
    width: 100% !important;
    max-width: 100% !important;
}
.li{
    max-width: 100% !important;
    width:100% !important
}
.responsive-column{
   flex-direction: column !important;
}
}
.btn-outline-success, .btn-outline-success:active, .btn-primary:visited {
    border-color: #99CC00 !important;
}
.background-info{
    background-color: #000033;
    background-image: url('../img/home/Vector_Home.png');
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size:700px ;
    height:600px
}
.img-cientifico{
    position: absolute;
    z-index: 1;
    width:33% ;
    height:40%;
    margin-top:10%;
    left: 27%;
}
.info-title{
 margin-left: 20%;
}
.info-title p{
    font-weight:400;
}
.info-title h2{
    font-size: 34px !important;
}
.btn-sections{
    color: #99CC00 !important;
    border-radius:20px;
    border: 2px solid #99CC00;
    background-color: #424d4286
}
.btn-sections:hover{
    color: white !important;
    transition: 1s;
}
.btn-orange{
    text-align: center;
    color: #FF6600 !important;
    border-radius:20px;
    border: 2px solid #FF6600;
    background-color: #424d4286 
}
.btn-orange:hover{
    color: white !important;
    transition: 1s;
}
.btn-pink{
    text-align: center;
    color:  #FF0066 !important;
    border-radius:20px;
    border: 2px solid  #FF0066;
    background-color: #424d4286 
}
.btn-pink:hover{
    color: white !important;
    transition: 1s;
}
.btn-purple{
    text-align: center;
    color:  #9999FF !important;
    border-radius:20px;
    border: 2px solid  #9999FF;
    background-color: #424d4286 
}
.btn-purple:hover{
    color: white !important;
    transition: 1s;
}
.btn-lightBlue{
    text-align: center;
    color:  #00CCCC !important;
    border-radius:20px;
    border: 2px solid  #00CCCC;
    background-color: #424d4286 
}
.btn-lightBlue:hover{
    color: white !important;
    transition: 1s;
}
.info-title hr{
    margin-left:0px;
    width:75%;
    height: 2px;
    background: rgb(153,204,0);
    background: linear-gradient(90deg, rgba(153,204,0,1) 27%, rgba(0,212,255,1) 100%);
}

.info-text strong{
    color:#99CC00 
}
.container-producto{
    width: 15%;

}
.background-items{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #000033;
    background-image:url("../img/home/Vector_2_Home.png");
    background-repeat: no-repeat;

    background-size: 200px;
    background-position-x:100%
}
.img-item{
    height:43%;
    
}
.background-products{
    background-image: url("../img/home/Vector_3_Home.png");
    background-repeat: no-repeat;

}
.background-items h2{
    font-size:23px;
    position:absolute;
    z-index: 1;
    bottom:62%;
    left:20%
}
.background-items p{
    margin-left: 18%;
    font-size:16px;
    padding-right:30% !important
}
.background-items .btn-sections{
    margin-left:18%
}
.img-plantas{
    margin-top: 2%;
    margin-left:5% ;
    width:35%;
    height:55%
}
.bg-main-home{
    height: 450px;
    background-image: url('../img/home/bg-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%
}
footer {
    font-size:14px
}

a:link, a:visited, a:active, a:hover{
    text-decoration:none !important;
}

.ml-0{
    margin-left:0% !important;
}
.mt-0{
    margin-top: 0% !important;
}
.mr-0{
    margin-right:0% !important;
}
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -10px !important;
  }

  .dropdown-item:hover{
    background-color: #649d14  !important;
    color: white !important
    

}
.bg-main-product{
    background-image: url('../img/willibald/bg-home.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 30%;
}

.bg-main-product .bg-white{
    margin-top:10vh;
}
.box-style{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.text-green{
    color:#649d14 !important    ;
}
.btn:hover{
    color:#ffffff !important    ;
}


.topBar .flex-row-reverse {
    height:25px
}
